.SideDrawer{
    height: 100vh;
    width: 60px;
    background: #8a2387; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 3px #ccc;
}

